<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Art Gallery</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="art.js"></script>
  </head>
  <body>
    <h2>Art Gallery</h2>
    <div id="art-collection">
    </div>
    <br/>
    <form id="add-art">
      <input id="art-title" name="title" placeholder="Piece's title" type="text" />
      <input id="art-title" name="artist" placeholder="Piece's title" type="text" />
      <input id="art-title" name="desc" placeholder="Short Description" type="text" />
      <input type="submit" />
    </form>
  </body>
</html>
